{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Hosts list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
            <tr>
                <td><a href="{{ path('gitlab_host_show', { 'id': host.id }) }}">{{ host.name }}</a></td>
                <td>{{ host.url }}</td>
                <td>
                    <a href="{{ path('gitlab_host_show', { 'id': host.id }) }}">show</a>
                    -
                    <a href="{{ path('gitlab_host_edit', { 'id': host.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gitlab_host_new') }}">Create a new host</a>
        </li>
    </ul>
{% endblock %}
